{{> header}}

<div class="page page-current" id="cordova-index" data-view="js/cordovaIndex">

  <header class="bar bar-nav">
    <a class="button button-link button-nav pull-left back" href="../../index.html">
      <span class="icon icon-left"></span>
      返回
    </a>
    <h1 class="title">插件体验</h1>
  </header>
 
  <div class="content">
    <div class="content-inner">
      <div class="content-block-title">示例</div>
      <div class="list-block">
        <ul>
          <li>
            <a id="scanQRCode" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">二维码扫描</div>
              </div>
            </a>
          </li>
          <li>
            <a href="./contacts.html" id="accessCommunication" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">访问通信录</div>
              </div>
            </a>
          </li>
          <li>
            <a href="./shake.html" id="shake" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">摇一摇</div>
              </div>
            </a>
          </li>
          <li>
            <a href="./takePicture.html" id="takePicture" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title">拍照</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
</div>

{{> footer}}
