div,p,span,img,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mytitle{
    background-color: #158AD9;
    padding-top: 5px;
}
.mytitle img{
    width: 85px;
}
.mytitle .userimg{
    width: 20px;
    margin-top: 5px;
}
#page-action .bar .backDiv{
    color: #fff;
}
.beBold{
    font-weight: bold;
}
.swiper-slide img{
    width: 100%;
    height: 145px;
}
.swiper-container{
    padding-bottom: 10px;
}
/*.swiper-container-horizontal>.swiper-pagination{
    bottom: 30px;
}*/
.myproject ul{
   border-top: 1px solid #ccc; 
}
.myproject ul li{
    width: 33.3%;
    height: 106px;
    float: left;
    position: relative;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /*border-top: 1px solid #ccc;*/
}
.myproject ul li img{
    width: 35px;
    height: 40px;
    margin: 0 auto;
    display: block;
}
.myproject .appDown{
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.myproject ul li p{
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}
.maskLayer{
    width: 100%;
    height: 100%;
    background: #000;
    background-color:rgba(0,0,0,0.3);
    z-index: 9999;
    position: absolute;
    top: 0px;
}
.maskMain{
    width: 240px;
    height: 300px;
    background: #fff;
    margin: 80px auto;
    border-radius: 5px;
    opacity: 1;
    z-index: 9999;
}
.maskTitle{
    width: 240px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ECFFFD;
    font-size: 18px;
    font-weight: bold;
    color: #8D283A;
    border-bottom: 1px solid #ccc;
}
.maskContent{
    width: 100%;
    height: 170px;
}
.maskEdit{
    height: 70px;
    padding: 20px 0 0 10px;
    position: relative;
}
.maskEdit img{
    width: 40px;
}
.maskManagement{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 20px;
    left: 85px;
}
.maskVersion{
    display: inline-block;
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 85px;
}
.editDescription{
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.maskTip{
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #EB3353;
    font-size: 12px;
    padding-left: 10px;

}
.maskFoot{
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
}
.maskFoot .footLeft,.maskFoot .footRight{
    width: 49%;
    height: 50px;
    line-height: 50px;
    color: #666;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box;/*谷歌*/
}
.maskFoot .footLeft{
    border-right: 1px solid #ccc;
    color: #1a1a1a;
}
.hidden{
    display: none;
}